*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body
{
 height: 100%;
}

body
{
  background-color: var(--laranja-cinzado-02);
  color: var(--cinza-azulado-04);
  font-family: var(--rubik);
  font-size: 16px;
}